  <div class="row" >
    <div class="col s12">
      <h3>User Files</h3>
      <%= link_to 'New User File', new_user_file_path, class: 'btn-small waves-light waves-effect blue' %>
    </div>
  </div>

  <div class="center">
    <%== pagy_nav_materialize(@pagy) if @pagy.pages > 1 %>
  </div>

  <div class="row">
    <div class="">
      <% @user_files.each do |user_file| %>
        <%= render 'user_files/card', user_file: user_file %>
      <% end %>
    </div>
  </div>

  <div class="center">
    <%== pagy_nav_materialize(@pagy) if @pagy.pages > 1 %>
  </div>
