
.hover-text:hover{
  color: black !important;
  background-color: transparent !important;
  transition: all 0.5s;
}

.pink-text {
  color: pink !important;
}

.purple-text {
  color: purple !important;
}