
<div class="row">
  <h3>Editing Receipt</h3>
  <div class="col s12 right-align">

    <%= link_to 'Back', user_file_receipts_path, class: 'btn-small ' %>

  </div>
</div>


<%= render 'form', receipt: @receipt %>

