<nav>
  <div class="nav-wrapper" style="padding: 0 20px;">
    <a href="<%=root_path%>" class="brand-logo">Data Management</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/search">Search</a></li>
    </ul>
  </div>
</nav>